AWSTemplateFormatVersion: 2010-09-09

Description: CFN to create a four web servers and bastion host

Parameters:
  VPCStackName:
    Description: >-
      Name of an active CloudFormation stack that contains the networking
      resources, such as the subnet, that will be used in this stack.
    Type: String
    MinLength: 1
    MaxLength: 255
    AllowedPattern: '^[a-zA-Z][-a-zA-Z0-9]*$'
Resources:
  PrivateInstanceA:
    Type: AWS::EC2::Instance
    Metadata:
      AWS::CloudFormation::Init:
        config:
          packages:
            yum:
              httpd: []
          files:
            /var/www/html/index.html:
              content: !Sub |
                <!DOCTYPE html>
                <html>
                  <body>
                    <h1>Hello Rackers Cloud Engineers - ${VPCStackName}-PrivateSubnetA </h1>
                  </body>
                </html>
          services:
            sysvinit:
              httpd:
                enabled: true
                ensureRunning: true
    Properties:
      InstanceType: t2.micro
      ImageId: 'ami-09d95fab7fff3776c'
      KeyName: 'SherifPrivateKP'
      SubnetId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-PrivateSubnetA'      
      SecurityGroupIds:
        - !GetAtt 'PrivateSecurityGroup.GroupId'  
      Tags:
        - Key: Name
          Value: PrivateSubnetA-CET-006
      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash -xe
            yum update -y
            # Update aws-cfn-bootstrap to the latest
            yum install -y aws-cfn-bootstrap
            # Call cfn-init script to install files and packages
            /opt/aws/bin/cfn-init -v --stack ${AWS::StackName} --resource PrivateInstanceA --region ${AWS::Region}
  PrivateInstanceB:
    Type: AWS::EC2::Instance
    Metadata:
      AWS::CloudFormation::Init:
        config:
          packages:
            yum:
              httpd: []
          files:
            /var/www/html/index.html:
              content: !Sub |
                <!DOCTYPE html>
                <html>
                  <body>
                    <h1>Hello Rackers Cloud Engineers - ${VPCStackName}-PrivateSubnetB </h1>
                  </body>
                </html>
          services:
            sysvinit:
              httpd:
                enabled: true
                ensureRunning: true
    Properties:
      InstanceType: t2.micro
      ImageId: 'ami-09d95fab7fff3776c'
      KeyName: 'SherifPrivateKP'
      SubnetId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-PrivateSubnetB'      
      SecurityGroupIds:
        - !GetAtt 'PrivateSecurityGroup.GroupId'  
      Tags:
        - Key: Name
          Value: PrivateSubnetB-CET-006
      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash -xe
            yum update -y
            # Update aws-cfn-bootstrap to the latest
            yum install -y aws-cfn-bootstrap
            # Call cfn-init script to install files and packages
            /opt/aws/bin/cfn-init -v --stack ${AWS::StackName} --resource PrivateInstanceB --region ${AWS::Region}
  PublicInstanceA:
    Type: AWS::EC2::Instance
    Metadata:
      AWS::CloudFormation::Init:
        config:
          packages:
            yum:
              httpd: []
          files:
            /var/www/html/index.html:
              content: !Sub |
                <!DOCTYPE html>
                <html>
                  <body>
                    <h1>Hello Rackers Cloud Engineers - ${VPCStackName}-PublicSubnetA </h1>
                  </body>
                </html>
          services:
            sysvinit:
              httpd:
                enabled: true
                ensureRunning: true
    Properties:
      InstanceType: t2.micro
      ImageId: 'ami-09d95fab7fff3776c'
      KeyName: 'SherifKP'
      SubnetId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-PublicSubnetA'      
      SecurityGroupIds:
        - !GetAtt 'PublicSecurityGroup.GroupId'      
      Tags:
        - Key: Name
          Value: PublicSubnetA-CET-006
      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash -xe
            # Update aws-cfn-bootstrap to the latest
            yum update -y
            yum install -y aws-cfn-bootstrap
            # Call cfn-init script to install files and packages
            /opt/aws/bin/cfn-init -v --stack ${AWS::StackName} --resource PublicInstanceA --region ${AWS::Region}
  PublicInstanceB:
    Type: AWS::EC2::Instance
    Metadata:
      AWS::CloudFormation::Init:
        config:
          packages:
            yum:
              httpd: []
          files:
            /var/www/html/index.html:
              content: !Sub |
                <!DOCTYPE html>
                <html>
                  <body>
                    <h1>Hello Rackers Cloud Engineers - ${VPCStackName}-PublicSubnetB </h1>
                  </body>
                </html>
          services:
            sysvinit:
              httpd:
                enabled: true
                ensureRunning: true
    Properties:
      InstanceType: t2.micro
      ImageId: 'ami-09d95fab7fff3776c'
      KeyName: 'SherifKP'
      SubnetId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-PublicSubnetB'      
      SecurityGroupIds:
        - !GetAtt 'PublicSecurityGroup.GroupId'  
      Tags:
        - Key: Name
          Value: PublicSubnetB-CET-006
      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash -xe
            yum update -y
            # Update aws-cfn-bootstrap to the latest
            yum install -y aws-cfn-bootstrap
            # Call cfn-init script to install files and packages
            /opt/aws/bin/cfn-init -v --stack ${AWS::StackName} --resource PublicInstanceB --region ${AWS::Region}
  BastionHostInstance:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: t2.micro
      ImageId: 'ami-09d95fab7fff3776c'
      KeyName: 'SherifKP'
      SubnetId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-PublicSubnetA'      
      SecurityGroupIds:
        - !GetAtt 'BastionSecurityGroup.GroupId'  
      Tags:
        - Key: Name
          Value: BastionHost-CET-006
      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash -xe
            # Update aws-cfn-bootstrap to the latest
            yum install -y aws-cfn-bootstrap
  BastionSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Enable SSH access via port 22
      SecurityGroupIngress:
      - CidrIp: 41.44.93.76/32
        FromPort: 22
        IpProtocol: tcp
        ToPort: 22
      VpcId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPC'
  PublicSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Enable HTTP access via user defined port
      SecurityGroupIngress:
      - CidrIp: 0.0.0.0/0
        FromPort: 80
        IpProtocol: tcp
        ToPort: 80
      - CidrIp: 0.0.0.0/0
        FromPort: 443
        IpProtocol: tcp
        ToPort: 443        
      - CidrIp: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPCCIDR'
        FromPort: 22
        IpProtocol: tcp
        ToPort: 22  
      VpcId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPC'
  PrivateSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Enable HTTP access via user defined port
      SecurityGroupIngress:
      - CidrIp: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPCCIDR'
        FromPort: 22
        IpProtocol: tcp
        ToPort: 22      
      - CidrIp: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPCCIDR'
        FromPort: 80
        IpProtocol: tcp
        ToPort: 80
      - CidrIp: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPCCIDR'
        FromPort: 443
        IpProtocol: tcp
        ToPort: 443       
      VpcId: !ImportValue 
            'Fn::Sub': '${VPCStackName}-VPC'